# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
order list
1. c++
2. java
3. R
4. python

# Objectives:  
unordered list
List popular languages for Data Science
1. c++
2. java
3. R
4. python

Some of the commonly used libraries used by Data Scientists include:
ordered list
1. ggplot
2. stringr
3. dblyr
4. caret

|Data Science Tools|
|------------------|
|    RStudio       |
|    jupyter       |
|IBM watson Studio |
|------------------|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author